<section class="login--container">
  <div class="logo">
    <img src="assets/user.svg" alt="" />
  </div>
  <form [formGroup]="loginForm" class="sub--container" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input
      id="usernmae"
      type="text"
      name="username"
      formControlName="username"
      placeholder="Username"
      [ngClass]="{
        errors: isSubmitted && errorInUsername
      }"
    />
    <label for="password">Password</label>

    <div class="password-fields">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        formControlName="password"
        name="password"
        id="password"
        [ngClass]="{
          errors: isSubmitted && errorInPassword
        }"
      />
      <div
        class="icon"
        [ngClass]="{
          errors: isSubmitted && errorInPassword
        }"
        (click)="onTogglePasswordVisibility()"
      >
        <img class="eye" *ngIf="showPassword" src="assets/eye-2.svg" alt="Show Password" />
        <img class="eye" *ngIf="!showPassword" src="assets/eye-1.svg" alt="Hide Password" />
      </div>
    </div>
    <div class="sub-login--container">
      <a href="">Forgot password?</a>
      <a href="">SignUp</a>
    </div>
    <div
      class="error--container"
      *ngIf="isSubmitted && (errorInUsername || errorInPassword)"
    >
      <h3>Wrong Login Credentials</h3>
      <ul>
        <li *ngIf="errorInUsername">Wrong Username</li>
        <li *ngIf="errorInPassword">Wrong Password</li>
      </ul>
    </div>
    <div class="button--container">
      <button
        type="submit"
        [disabled]="isSubmitted && (errorInUsername || errorInPassword)"
      >
        Submit
      </button>
    </div>
  </form>
</section>
