body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Assistant", sans-serif;
  color: #474747;
}
#root {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3.5px;
}

body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5025);
  border-radius: 3.5px;
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 143, 143);
}

input,
textarea {
  width: 300px;
  height: 38px;
  padding: 3px 7px;
  outline: none;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 3px;
  background-color: #f1f1f1;

  &::placeholder {
    color: #474747;
  }
  &.errors {
    border-color: rgb(202, 37, 37);
    background-color: rgb(255, 231, 231);;
  }
}
textarea {
  max-width: 300px;
}
button {
  width: max-content;
  padding: 5px;
  outline: none;
  border: 2px solid #0070e0;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
  background-color: #0070e0;
  font-weight: 600;
  color: #ffffff;
  &:hover {
    color: #0070e0;
    background-color: #ffffff;
  }
}
button:disabled {
  cursor: not-allowed;
  background-color: #8092a4;
  color: #ffffff;
  border-color: #8092a4;
}
.error {
  color: rgb(202, 37, 37);
  font-size: 14px;
  font-weight: 600;
  margin: 3px 0;
}
